.profile {
  max-width: 700px; 
  margin: 100px auto; 
  padding: 50px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.userInfo {
  margin-bottom: 20px;
}

.userInfo p {
  margin-bottom: 10px;
}

.error {
  color: red;
  margin-bottom: 20px;
}

.button, .back_button {
  display: inline-block;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.button {
  background-color: #007bff;
  color: #fff;
}

.button:hover {
  background-color: #0056b3;
}

.back_button {
  background-color: #dc3545;
  color: #fff;
  margin-left: 10px;
}

.back_button:hover {
  background-color: #bd2130;
}
